body {
    width: 100%;
    height: 100%;
    background-image: url(../img/egor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

A {
    text-decoration: none;
    color: white;
}

A:hover{
    color: white;
}

p{
    font-family: Century Gothic, sans-serif;
    color: whitesmoke;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;

}

h1{
    font-family: Century Gothic, sans-serif;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    padding-top: 17%;
    padding-left: 20px;
}

.container-text{
    width: 650px;
    word-wrap: break-word;
}

.brand {
    color: #CC9900;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 2px;
}

.brand:hover {
    color: #CC9900;
}

#signout {
    color: whitesmoke;
}

#signout:hover {
    color: whitesmoke;
}

