img {
    float: left;
}

tr, span {
    float: none;
}

.prod-p {
    padding-left: 17rem;
}

.span-descrip {
}

.td-descrip {;
}

.change-form input, .add-form input{
    font-family: Century Gothic, sans-serif;
    border:0;
    border-radius: 10px;
    max-width: 150px;
    min-width: 150px;
    min-height: 50px;
    max-height: 50px;
}


.form-p, .status p {
    font-family: Century Gothic, sans-serif;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.cart {
    font-family: Century Gothic, sans-serif;
    padding-top: 5px;
    padding-bottom: 2rem;
}

.cart button{
    width: 415px;
    min-height: 45px;
    max-height: 45px;
}

th{
    cursor: pointer;
}

th.sorted[data-order="-1"]::after {
    content: "▼"
}

th.sorted[data-order="1"]::after {
    content: "▲"
}

