html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/common-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
  font-family: Century Gothic, sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-btn{
  padding: 3px;
}

A {
  text-decoration: none;
  color: whitesmoke;
}

A:hover{
  color: whitesmoke;
}

h1{
  color: whitesmoke;
}

.title {
  font-family: Monotype Corsiva, cursive;
  font-size: 40px;
  font-weight: bold;
}

.mt-5{
  color: whitesmoke;
}
