<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Sign Out"/>
</form>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Products Available </td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.id}"> Id </span></td>
        <td><span th:text="${product.name}"> Name </span></td>
        <td><span th:text="${product.price}"> Price </span> руб.</td>
    </tr>
    </tbody>
</table>

<form method="post">
    <input type="text" name="name" placeholder="Введите name" />
    <input type="text" name="price" placeholder="Введите price" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <!-- token for spring security -->
    <button type="submit">Добавить</button>
</form>

Изменение цены товара
<form method="post" action="change">
    введите название товара
    <input type="text" name="name">
    введите новую цену товара
    <input type="number" name="price">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Изменить</button>
</form>
</body>
</html>