<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<form action="changeprof" th:object = "${user}" method="post">
  <!--  <input type="number" name="id" th:field="*{id}"> -->
    <input type="text" name="name" th:field="*{name}" placeholder="Имя">
    <input type="text" name="surname" th:field="*{surname}" placeholder="Фамилия">
    <input type="text" name="e_mail" th:field="*{mail}" placeholder="Эл. почта">
    <input type="text" name="address" th:field="*{address}" placeholder="Адрес">
    <input type="text" name="phone_number" th:field="*{phone}" placeholder="Телефон">
    <input type="text" name="login" th:field="*{login}" placeholder="Логи">
    <input type="text" name="password" th:field="*{password}" placeholder="Пароль">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Edit profile</button>
</form>

<a href="/">Main page</a>

<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>