<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<form th:object = "${user}" >
    <input type="number" name="id" th:field="*{id}">
    <input type="text" name="name" th:field="*{name}">
    <input type="text" name="surname" th:field="*{surname}">
    <input type="text" name="e_mail" th:field="*{mail}">
    <input type="text" name="address" th:field="*{address}">
    <input type="text" name="phone_number" th:field="*{phone}">
    <input type="text" name="login" th:field="*{login}">
    <input type="text" name="password" th:field="*{password}">
    <button type="submit">Edit profile</button>
</form>
</body>
</html>