<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients list</title>
</head>
<body>

<table>
<thead>
<tr>
    <th> Id </th>
    <th> Name </th>
</tr>
</thead>
<tbody>
<tr th:if="${clients.empty}">
    <td colspan="2"> No clients available </td>
</tr>
<tr th:each="client : ${clients}">
    <td><span th:text="${client.clientId}"> Id </span></td>
    <td><span th:text="${client.clientName}"> Name </span></td>
</tr>
</tbody>
</table>

<form method="post">
    <input type="number" name="id" placeholder="Введите id" />
    <input type="text" name="Name" placeholder="Введите Name" />
    <button type="submit">Добавить</button>
</form>

</body>
</html>